<a href="https://colab.research.google.com/github/20195114/Detectron/blob/main/2024_02_15_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [8]:
# 데이터 전처리
# 중복 데이터 제거
# 중복된 데이터가 존재하면 분석 결과를 왜곡할 수 있음
# 중복된 데이터가 존재하면 중복 데이터가 분석할 때 영향을 더 많이 주게 됨
# 데이터 생성
df = pd.DataFrame([['안녕하세요', '반갑습니다', '헬로우', '키아 오라', '안녕하세요'],['한국', '한국', '미국', '뉴질랜드', '한국']])

#행 열 전치
df = df.T
df.columns = ['인삿말', '국가']
# 데이터 확인
# print(df)

# help(df.drop_duplicates)
#중복 확인
# print(df.duplicated()) # 모든 컬럼의 값이 중복된 경우를 확인
# print(df.duplicated(subset=['국가'])) # 국가 컬럼의 값이 중복된 경우를 확인

#중복 데이터 제거
# print(df.drop_duplicates(subset=['국가'])) #기본은 앞의 데이터가 보존
print(df.drop_duplicates(subset=['국가'], keep = 'last')) #마지막 데이터를 보존

     인삿말    국가
2    헬로우    미국
3  키아 오라  뉴질랜드
4  안녕하세요    한국

In [9]:
!pip install seaborn

Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.25.2)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/local/lib/python3.10/dist-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.48.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2023.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [12]:
# 타이타닉 데이터 불러오기
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [27]:
# apply 함수 적용

df = titanic[['sex', 'age']]
# print(df.head())

#실수 1개를 받아서 1을 더해서 리턴하는 함수
def plusone(data: float) -> float:
  return data + 1

# 함수를 만들어서 적용
#df['age'] = df['age'] +1
df['age'] = df['age'].apply(plusone)
# print(df.head())

#람다 함수를 이용해서 위와 동일한 작업을 수행
# lambda x: x + 1
# df['age'] = df['age'].apply(lambda x: x + 1)
# df['age'] = df['age'].apply(lambda data : data + 1)

# print(df.head())

# sex 열의 모든 내용을 대문자로 변경 - 문자열 클래스에서 대문자로 변경해주는 메서드가 있는지
df['sex'] = df['sex'].apply(str.upper)
print(df.head())

#데이터 프레임에 apply를 사용하면 함수에 열이 대입됩니다.
# 아래같은 하나의 열에 str.upper를 적용한 것이므로 에러가 발생합니다.
# 데이터 프레임에 apply를 적용할 때는 series에 매개변수로 받아서 처리하는 함수를 대입
# df = df.apply(str.upper)
# print(df.head())

#series를 받아서 각 데이터가 null 인지 확인해주는 함수
def missing_value(series : pd.Series) -> pd.Series:
  return series.isnull()
result = df.apply(missing_value)
print(result.head())

      sex   age
0    MALE  23.0
1  FEMALE  39.0
2  FEMALE  27.0
3  FEMALE  36.0
4    MALE  36.0
     sex    age
0  False  False
1  False  False
2  False  False
3  False  False
4  False  False

<ipython-input-27-943b15fd040d>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'] = df['age'].apply(plusone)
<ipython-input-27-943b15fd040d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex'] = df['sex'].apply(str.upper)

In [ ]:
!ls

In [13]:
import os
print('stock price.xlsx' in os.listdir())
print('stock valuation.xlsx' in os.listdir())

False
False

In [15]:
!ls

sample_data

In [16]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [20]:
from google.colab import files
myfile = files.upload()

Saving stock price.xlsx to stock price.xlsx
Saving stock valuation.xlsx to stock valuation.xlsx

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [22]:
import pandas as pd

In [23]:
price = pd.read_excel('stock price.xlsx')
valuation = pd.read_excel('stock valuation.xlsx')

print(price.head())
print(valuation.head())

       id stock_name          value   price
0  128940       한미약품   59385.666667  421000
1  130960     CJ E&M   58540.666667   98900
2  138250      엔에스쇼핑   14558.666667   13200
3  139480        이마트  239230.833333  254500
4  142280     녹십자엠에스     468.833333   10200
       id     name           eps     bps        per       pbr
0  130960   CJ E&M   6301.333333   54068  15.695091  1.829178
1  136480       하림    274.166667    3551  11.489362  0.887074
2  138040  메리츠금융지주   2122.333333   14894   6.313806  0.899691
3  139480      이마트  18268.166667  295780  13.931338  0.860437
4  145990      삼양사   5741.000000  108090  14.283226  0.758627

In [25]:
#join은 기본적으로 index를 가지고 join을 수행
price.index = price["id"]
valuation.index = valuation['id']

#동일한 컬럼 이름 제거
price.drop(['id'], axis = 1, inplace= True)
valuation.drop(['id'], axis = 1, inplace= True)

print(price.join(valuation))

       stock_name          value   price    name           eps       bps  \
id
128940       한미약품   59385.666667  421000     NaN           NaN       NaN
130960     CJ E&M   58540.666667   98900  CJ E&M   6301.333333   54068.0
138250      엔에스쇼핑   14558.666667   13200     NaN           NaN       NaN
139480        이마트  239230.833333  254500     이마트  18268.166667  295780.0
142280     녹십자엠에스     468.833333   10200     NaN           NaN       NaN
145990        삼양사   82750.000000   82000     삼양사   5741.000000  108090.0
185750        종근당   40293.666667  100500     종근당   3990.333333   40684.0
192400      쿠쿠홀딩스  179204.666667  177500     NaN           NaN       NaN
199800         툴젠   -2514.333333  115400     NaN           NaN       NaN
204210     모두투어리츠    3093.333333    3475  모두투어리츠     85.166667    5335.0

              per       pbr
id
128940        NaN       NaN
130960  15.695091  1.829178
138250        NaN       NaN
139480  13.931338  0.860437
142280        NaN       NaN
145990  14.283226  0.758627
185750  25.185866  2.470259
192400        NaN       NaN
199800        NaN       NaN
204210  40.802348  0.651359

In [26]:
li = []
print(dir(li))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [31]:
# 그룹연산
# group by
import seaborn as sns

titanic = sns.load_dataset('titanic')

df = titanic[['age', 'sex', 'class', 'fare', 'survived']]
print(df.head())

#그룹화
grouped = df.groupby(['class'])
# 그룹화 한 후 각 그룹의 데이터 개수 출력
for key, group in grouped:
  print(key, len(group))

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0
First 216
Second 184
Third 491

<ipython-input-31-9b27075eac5e>:13: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for key, group in grouped:

In [32]:
avg = grouped.mean()
print(avg)

              age       fare  survived
class
First   38.233441  84.154687  0.629630
Second  29.877630  20.662183  0.472826
Third   25.140620  13.675550  0.242363

<ipython-input-32-0c86db50e261>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg = grouped.mean()

In [33]:
#특정 그룹의 데이터 선택
group3 = grouped.get_group('Third')
print(group3.head())

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
2  26.0  female  Third   7.9250         1
4  35.0    male  Third   8.0500         0
5   NaN    male  Third   8.4583         0
7   2.0    male  Third  21.0750         0

In [34]:
# 2개의 열로 그룹화 - key 가 2개 항복의 튜플로 만들어 집니다.
grouped = df.groupby(['class', 'sex'])
for key, group in grouped:
  print(key)

('First', 'female')
('First', 'male')
('Second', 'female')
('Second', 'male')
('Third', 'female')
('Third', 'male')

In [35]:
group3m = grouped.get_group(('Third', 'male'))
print(group3m.head())

     age   sex  class     fare  survived
0   22.0  male  Third   7.2500         0
4   35.0  male  Third   8.0500         0
5    NaN  male  Third   8.4583         0
7    2.0  male  Third  21.0750         0
12  20.0  male  Third   8.0500         0

In [37]:
print(dir(grouped))

['__annotations__', '__class__', '__class_getitem__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__orig_bases__', '__parameters__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__slots__', '__str__', '__subclasshook__', '__weakref__', '_accessors', '_agg_examples_doc', '_agg_general', '_agg_py_fallback', '_aggregate_frame', '_aggregate_item_by_item', '_aggregate_with_numba', '_apply_allowlist', '_apply_filter', '_apply_to_column_groupbys', '_ascending_count', '_bool_agg', '_cache', '_choose_path', '_concat_objects', '_constructor', '_cumcount_array', '_cython_agg_general', '_cython_transform', '_define_paths', '_descending_count', '_dir_additions', '_dir_deletions', '_fill', '_get_cythonized_result', '_get_data_to_aggregate', '_get_index', '_get_indices', '_gotitem', '_group_selection', '_group_selection_context', '_hidden_attrs', '_indexed_output_to_ndframe', '_insert_inaxis_grouper_inplace', '_internal_names', '_internal_names_set', '_is_protocol', '_iterate_column_groupbys', '_iterate_slices', '_make_mask_from_int', '_make_mask_from_list', '_make_mask_from_positional_indexer', '_make_mask_from_slice', '_make_mask_from_tuple', '_make_wrapper', '_mask_selected_obj', '_maybe_warn_numeric_only_depr', '_nth', '_numba_agg_general', '_numba_prep', '_obj_1d_constructor', '_obj_with_exclusions', '_positional_selector', '_python_agg_general', '_python_apply_general', '_reindex_output', '_reset_cache', '_reset_group_selection', '_resolve_numeric_only', '_selected_obj', '_selection', '_selection_list', '_set_group_selection', '_set_result_index_ordered', '_transform', '_transform_general', '_transform_item_by_item', '_transform_with_numba', '_wrap_agged_manager', '_wrap_aggregated_output', '_wrap_applied_output', '_wrap_applied_output_series', '_wrap_transform_fast_result', '_wrap_transformed_output', 'age', 'agg', 'aggregate', 'all', 'any', 'apply', 'backfill', 'bfill', 'boxplot', 'class', 'corr', 'corrwith', 'count', 'cov', 'cumcount', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'dtypes', 'ewm', 'expanding', 'fare', 'ffill', 'fillna', 'filter', 'first', 'get_group', 'groups', 'head', 'hist', 'idxmax', 'idxmin', 'indices', 'last', 'mad', 'max', 'mean', 'median', 'min', 'ndim', 'ngroup', 'ngroups', 'nth', 'nunique', 'ohlc', 'pad', 'pct_change', 'pipe', 'plot', 'prod', 'quantile', 'rank', 'resample', 'rolling', 'sample', 'sem', 'sex', 'shift', 'size', 'skew', 'std', 'sum', 'survived', 'tail', 'take', 'transform', 'tshift', 'value_counts', 'var']

In [40]:
# 집계연산
# 제공되는 집계 함수를 호출
df = titanic[['class', 'age']]
# class 별로 그룹화해서 age의 표준 편차 확인
grouped = df.groupby(['class'])
std_all = grouped['age'].std()
print(std_all)

class
First     14.802856
Second    14.001077
Third     12.495398
Name: age, dtype: float64

In [42]:
import numpy as np

#데이터 모임을 가지고 하나의 값을 리턴하는 함수
def min_max(x):
  return x.max() - x.min()

#사용자 정의 함수를 이용한 집계
result = grouped.agg(min_max)
print(result)

          age
class
First   79.08
Second  69.33
Third   73.58

In [48]:
#age 열의 값을 z-score로 변환
#z-score(표쥰점수): 값 - 평균 /표준편차
#점수가 어느 정도에 위치하는지 알고자 할 때 사용
import numpy as np

#z-score 구해주는 함수
def z_score(x):
  return (x - x.mean()) / x.std()

age_zscore = grouped.transform(z_score)
print(age_zscore)

          age
0   -0.251342
1   -0.015770
2    0.068776
3   -0.218434
4    0.789041
..        ...
886 -0.205529
887 -1.299306
888       NaN
889 -0.826424
890  0.548953

[891 rows x 1 columns]

In [52]:
# 멀티 인덱스

df = titanic[['class', 'sex', 'age']]
#2 개의 컬럼을 이용해서 그룹화
grouped = df.groupby(['class', 'sex'])
# print(grouped)

# for key in grouped :
#   print(key)

# age의 평균 구하기
gdf = grouped.mean()
#전체 출력
# print(gdf)

# age 개수 구하기
gdf = grouped.count()
# print(gdf)

#특정 class 출력
print(gdf.loc['First'])

#특정 sex 출력
print (gdf.xs('male', level = 'sex'))

#특정 행 출력
print(gdf.loc[('First', 'female')])

        age
sex
female   85
male    101
        age
class
First   101
Second   99
Third   253
age    85
Name: (First, female), dtype: int64

In [53]:
help(pd.pivot_table)

Help on function pivot_table in module pandas.core.reshape.pivot:

pivot_table(data: 'DataFrame', values=None, index=None, columns=None, aggfunc: 'AggFuncType' = 'mean', fill_value=None, margins: 'bool' = False, dropna: 'bool' = True, margins_name: 'str' = 'All', observed: 'bool' = False, sort: 'bool' = True) -> 'DataFrame'
    Create a spreadsheet-style pivot table as a DataFrame.

    The levels in the pivot table will be stored in MultiIndex objects
    (hierarchical indexes) on the index and columns of the result DataFrame.

    Parameters
    ----------
    data : DataFrame
    values : column to aggregate, optional
    index : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table index.  If an array is passed,
        it is being used as the same manner as column values.
    columns : column, Grouper, array, or list of the previous
        If an array is passed, it must be the same length as the data. The
        list can contain any of the other types (except list).
        Keys to group by on the pivot table column.  If an array is passed,
        it is being used as the same manner as column values.
    aggfunc : function, list of functions, dict, default numpy.mean
        If list of functions passed, the resulting pivot table will have
        hierarchical columns whose top level are the function names
        (inferred from the function objects themselves)
        If dict is passed, the key is column to aggregate and value
        is function or list of functions.
    fill_value : scalar, default None
        Value to replace missing values with (in the resulting pivot table,
        after aggregation).
    margins : bool, default False
        Add all row / columns (e.g. for subtotal / grand totals).
    dropna : bool, default True
        Do not include columns whose entries are all NaN. If True,
        rows with a NaN value in any column will be omitted before
        computing margins.
    margins_name : str, default 'All'
        Name of the row / column that will contain the totals
        when margins is True.
    observed : bool, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. versionchanged:: 0.25.0

    sort : bool, default True
        Specifies if the result should be sorted.

        .. versionadded:: 1.3.0

    Returns
    -------
    DataFrame
        An Excel style pivot table.

    See Also
    --------
    DataFrame.pivot : Pivot without aggregation that can handle
        non-numeric data.
    DataFrame.melt: Unpivot a DataFrame from wide to long format,
        optionally leaving identifiers set.
    wide_to_long : Wide panel to long format. Less flexible but more
        user-friendly than melt.

    Notes
    -----
    Reference :ref:`the user guide <reshaping.pivot>` for more examples.

    Examples
    --------
    >>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
    ...                          "bar", "bar", "bar", "bar"],
    ...                    "B": ["one", "one", "one", "two", "two",
    ...                          "one", "one", "two", "two"],
    ...                    "C": ["small", "large", "large", "small",
    ...                          "small", "large", "small", "small",
    ...                          "large"],
    ...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
    ...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
    >>> df
         A    B      C  D  E
    0  foo  one  small  1  2
    1  foo  one  large  2  4
    2  foo  one  large  2  5
    3  foo  two  small  3  5
    4  foo  two  small  3  6
    5  bar  one  large  4  6
    6  bar  one  small  5  8
    7  bar  two  small  6  9
    8  bar  two  large  7  9

    This first example aggregates values by taking the sum.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum)
    >>> table
    C        large  small
    A   B
    bar one    4.0    5.0
        two    7.0    6.0
    foo one    4.0    1.0
        two    NaN    6.0

    We can also fill missing values using the `fill_value` parameter.

    >>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
    ...                     columns=['C'], aggfunc=np.sum, fill_value=0)
    >>> table
    C        large  small
    A   B
    bar one      4      5
        two      7      6
    foo one      4      1
        two      0      6

    The next example aggregates by taking the mean across multiple columns.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': np.mean})
    >>> table
                    D         E
    A   C
    bar large  5.500000  7.500000
        small  5.500000  8.500000
    foo large  2.000000  4.500000
        small  2.333333  4.333333

    We can also calculate multiple types of aggregations for any given
    value column.

    >>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
    ...                     aggfunc={'D': np.mean,
    ...                              'E': [min, max, np.mean]})
    >>> table
                      D   E
                   mean max      mean  min
    A   C
    bar large  5.500000   9  7.500000    6
        small  5.500000   9  8.500000    8
    foo large  2.000000   5  4.500000    4
        small  2.333333   6  4.333333    2

In [59]:
df = titanic[['class', 'sex', 'age']]
result = pd.pivot_table(df, index='class', columns='sex', values='age', aggfunc ='sum')
print(result)

sex     female     male
class
First   2942.0  4169.42
Second  2125.5  3043.33
Third   2218.5  6706.42

In [67]:
# 데이터 구조화 - 데이터의 구조를 변경하는 작업
# stacked
#staked : 행을 열로 변경하는 작업 - 넓게 펼쳐진 데이터를 깊게 만드는 작업
mul_index = pd.MultiIndex.from_tuples([('cust_1', '2015'), ('cust_1', '2016'), ('cust_2', '2015'), ('cust_2', '2016')])

data = pd.DataFrame(data=np.arange(8).reshape(4, 2), index=mul_index, columns=['prd_1', 'prd_2'])
print(data)

             prd_1  prd_2
cust_1 2015      0      1
       2016      2      3
cust_2 2015      4      5
       2016      6      7

In [69]:
stacked = data.stack()
print(stacked)

cust_1  2015  prd_1    0
              prd_2    1
        2016  prd_1    2
              prd_2    3
cust_2  2015  prd_1    4
              prd_2    5
        2016  prd_1    6
              prd_2    7
dtype: int64

In [75]:
# unstacked
# 첫 레벨의 인덱스가 컬럼이 됩니다.
unstacked = stacked.unstack(level = 0)
#print(unstacked)

#다단으로 구성된 인덱스의 경우는 여러 번 unstack 가능
print(unstacked.unstack())

     cust_1       cust_2
      prd_1 prd_2  prd_1 prd_2
2015      0     1      4     5
2016      2     3      6     7

In [ ]:
!pip install google-colab

In [86]:
from google.colab import files
from google.colab import drive
import os

In [87]:
# 숫자 데이터의 전처리
# 단위 환산
# mpg 데이터는 자동차에 대한 정보를 가지는 데이터입니다.
# mpg 열이 연비인데 미국에서는 갤런당 마일을 사용하는데 우리나라는 리터당 킬로미터를 사용
# 이런 경우는 단위 변환을 해주는 것이 데이터를 읽는데 편리합니다.
# 1마일은 1.60935km 이고 1갤런은 3.78541 리터

from google.colab import files
myfile = files.upload
from google.colab import drive
import os

# Ensure the mountpoint is a valid directory path
mountpoint = "/content/auto-mpg.csv"
if not os.path.exists(mountpoint):
    os.makedirs(mountpoint)
drive.mount(mountpoint)

Mounted at /content/auto-mpg.csv

In [91]:
!ls -l /content/auto-mpg.csv

total 4
drwx------ 4 root root 4096 Feb 15 07:56 MyDrive

In [92]:
!pwd

/content

In [93]:
!file /content/auto-mpg.csv

/content/auto-mpg.csv: directory

In [94]:
import pandas as pd

print(pd.__version__)

1.5.3

In [96]:
!ls -l /content/auto-mpg.csv

total 4
drwx------ 4 root root 4096 Feb 15 07:56 MyDrive

In [97]:
!stat /content/auto-mpg.csv

  File: /content/auto-mpg.csv
  Size: 4096      	Blocks: 8          IO Block: 65536  directory
Device: 32h/50d	Inode: 1           Links: 5
Access: (0700/drwx------)  Uid: (    0/    root)   Gid: (    0/    root)
Access: 2024-02-15 07:56:43.000000000 +0000
Modify: 2024-02-15 07:56:43.000000000 +0000
Change: 2024-02-15 07:56:43.000000000 +0000
 Birth: -

In [98]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [99]:
import pandas as pd

In [104]:
!ls /content

 auto-mpg.csv   drive   sample_data  'stock price.xlsx'  'stock valuation.xlsx'

In [105]:
!ls -l /content/auto-mpg.csv

total 4
drwx------ 4 root root 4096 Feb 15 07:56 MyDrive

In [106]:
!chmod 644 /content/auto-mpg.csv

chmod: changing permissions of '/content/auto-mpg.csv': Input/output error

In [107]:
!file /content/auto-mpg.csv

/content/auto-mpg.csv: directory